:root {
	--day: white;
	--night: rgb(40, 40, 40);
}

@media (prefers-color-scheme: light) {
	html {
		background: var(--day);
	}
	i {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background: var(--night);
		color: var(--day);
	}
}

body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
	line-height: 1.5;
	margin: 15%;
	margin-top: 0.5%;
	padding: 1em;
	max-width: 50em
}

.underline {
	text-decoration: underline;
}

.headline {
	text-underline-offset: 3px;
}

.smallheadline {
	text-align: left;
	text-underline-offset: 1.5px;
	font-style: italic;
}